.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 60px 16px;
  /* outline: 2px solid red;
  outline-offset: -2px; */
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 60px 20px;
  }
}
